@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background Color */
    --bg-black:#090b3c;
    --bg-white:#fff;
    --bg-light-white:#fcfcfc;
    --bg-light-2:#f2f7fa;
    --bg-dark-green:#0e9d80;
    --bg-features-1:#fff6d6;
    --bg-features-2:#ebdcf9;
    --bg-features-3:#ddf5fc;
    --bg-features-4:#dcf6e8;
    --bg-features-5:#f8e4e1;
    --bg-features-6:#fbffd4;
    /* Text Color */
    --text-black:#000;
    --text-white:#fff;
    --text-dark-gray:#4c535d; 
    --text-light-2:#798089;
    --text-light-3:#5e5e72;
    --text-light-4:#A0A0A0;
    --text-dark-green:#12c4a0;
    --text-orange:#ff5d2a;
    --text-yellow:#ffc100;
    /* Fonts */
    --primary-font: "Quicksand";
    --secondary-font: 'Poppins', sans-serif;
    --normal-font-weight:400;
    --bold-font-weight:700;
}

body{
    font-family:var(--primary-font);
    font-weight: var(--normal-font-weight);
    background-color: var(--bg-white); 
}

/* Custom CSS */

.learn-more-btn { 
    background-color:var(--bg-black);
    font-size: 18px; 
    font-weight: 700;
    color: var(--text-white) !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border: 2px solid var(--bg-black);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%); 
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.btn-extra-header {
    color: var(--text-dark-gray) !important;
    background-color: transparent; 
    border: 2px solid var(--text-dark-gray);
} 

/* 2 Navbar */

.header_wrapper .navbar {
    -webkit-transition: all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: var(--bold-font-weight);
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
}

.header_wrapper .nav-item .nav-link.active {
    color: var(--text-dark-green);
}

.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 190px;
    }
}

.header-scrolled .nav-item .nav-link {
    font-size: 17px;
}

/* 3 Banner */

.banner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0 125px;
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
}

.banner_wrapper .header-img-section img {
    width: 100%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.banner_wrapper .banner-subtitle {
    font-size: 24px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.banner_wrapper .banner-title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--text-black);
}

.banner_wrapper .banner-title span {
    color: var(--text-dark-green);
}

.banner_wrapper .banner-title-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 450px;
    color: var(--text-light-2);
}

/* 4 Clients */

.clients {
    padding: 80px 0 50px;
    background-color: var(--bg-light-2);
}

.clients h2 {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 40px;
    color: var(--text-light-2);
}

.client-slider-section .carousel_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.client-slider-section .carousel_item img {
    width: auto!important;
    height: 50px;
    object-fit: cover;
}

/* 5 About */

.about_wrapper {
    padding: 100px 0 0;
}

.about_wrapper .about_number {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 24px;
    padding: 4px 17px;
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 44px;
    color: var(--text-white);
    background-color: var(--bg-dark-green);
}

.about_wrapper .about_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    max-width: 1000px;
    margin-bottom: 25px;
    color: var(--text-black);
}

.about_wrapper .about_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
    max-width: 700px;
    color: var(--text-light-2);
}

.about_wrapper .innovate {
    background-color: var(--bg-light-2);
    padding: 80px 0;
}

.about_wrapper .projects {
    padding: 30px 0;
}

.about_wrapper .projects h2 {
    font-family: var(--secondary-font);
    color: var(--text-orange);
    font-weight: 800;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 0;
}

.about_wrapper .projects p {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

/* 6 Features */

.features_wrapper {
    padding: 100px 0 80px;
    background-color: var(--bg-light-2);
}

.features_wrapper .features_subtitle {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-2);
}

.features_wrapper .features_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.features_wrapper h3 {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 20px;
}

.features_wrapper .features_text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

.features_wrapper .ft-1 {
    background-color: var(--bg-features-1);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-1::before {
    content: url("../images/consultancy.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-2 {
    background-color: var(--bg-features-2);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-2::before {
    content: url("../images/solutions.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-3 {
    background-color: var(--bg-features-3);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-3::before {
    content: url("../images/simple.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-4 {
    background-color: var(--bg-features-4);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-4::before {
    content: url("../images/deadline.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-5 {
    background-color: var(--bg-features-5);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-5::before {
    content: url("../images/data.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-6 {
    background-color: var(--bg-features-6);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-6::before {
    content: url("../images/flexible.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

