@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background Color */
    --bg-black:#090b3c;
    --bg-white:#fff;
    --bg-light-white:#fcfcfc;
    --bg-light-2:#f2f7fa;
    --bg-dark-green:#0e9d80;
    --bg-features-1:#fff6d6;
    --bg-features-2:#ebdcf9;
    --bg-features-3:#ddf5fc;
    --bg-features-4:#dcf6e8;
    --bg-features-5:#f8e4e1;
    --bg-features-6:#fbffd4;
    /* Text Color */
    --text-black:#000;
    --text-white:#fff;
    --text-dark-gray:#4c535d; 
    --text-light-2:#798089;
    --text-light-3:#5e5e72;
    --text-light-4:#A0A0A0;
    --text-dark-green:#12c4a0;
    --text-orange:#ff5d2a;
    --text-yellow:#ffc100;
    /* Fonts */
    --primary-font: "Quicksand";
    --secondary-font: 'Poppins', sans-serif;
    --normal-font-weight:400;
    --bold-font-weight:700;
}

body{
    font-family:var(--primary-font);
    font-weight: var(--normal-font-weight);
    background-color: var(--bg-white); 
}

/* Custom CSS */

.learn-more-btn { 
    background-color:var(--bg-black);
    font-size: 18px; 
    font-weight: 700;
    color: var(--text-white) !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border: 2px solid var(--bg-black);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%); 
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.btn-extra-header {
    color: var(--text-dark-gray) !important;
    background-color: transparent; 
    border: 2px solid var(--text-dark-gray);
} 

/* 2 Navbar */

.header_wrapper .navbar {
    -webkit-transition: all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: var(--bold-font-weight);
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
}

.header_wrapper .nav-item .nav-link.active {
    color: var(--text-dark-green);
}

.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 190px;
    }
}

.header-scrolled .nav-item .nav-link {
    font-size: 17px;
}

/* 3 Banner */

.banner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0 125px;
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
}

.banner_wrapper .header-img-section img {
    width: 100%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.banner_wrapper .banner-subtitle {
    font-size: 24px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.banner_wrapper .banner-title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--text-black);
}

.banner_wrapper .banner-title span {
    color: var(--text-dark-green);
}

.banner_wrapper .banner-title-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 450px;
    color: var(--text-light-2);
}

/* 4 Clients */

.clients {
    padding: 80px 0 50px;
    background-color: var(--bg-light-2);
}

.clients h2 {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 40px;
    color: var(--text-light-2);
}

.client-slider-section .carousel_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.client-slider-section .carousel_item img {
    width: auto!important;
    height: 50px;
    object-fit: cover;
}

/* 5 About */

.about_wrapper {
    padding: 100px 0 0;
}

.about_wrapper .about_number {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 24px;
    padding: 4px 17px;
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 44px;
    color: var(--text-white);
    background-color: var(--bg-dark-green);
}

.about_wrapper .about_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    max-width: 1000px;
    margin-bottom: 25px;
    color: var(--text-black);
}

.about_wrapper .about_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;
    max-width: 700px;
    color: var(--text-light-2);
}

.about_wrapper .innovate {
    background-color: var(--bg-light-2);
    padding: 80px 0;
}

.about_wrapper .projects {
    padding: 30px 0;
}

.about_wrapper .projects h2 {
    font-family: var(--secondary-font);
    color: var(--text-orange);
    font-weight: 800;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 0;
}

.about_wrapper .projects p {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

/* 6 Features */

.features_wrapper {
    padding: 100px 0 80px;
    background-color: var(--bg-light-2);
}

.features_wrapper .features_subtitle {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-2);
}

.features_wrapper .features_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.features_wrapper h3 {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 20px;
}

.features_wrapper .features_text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

.features_wrapper .ft-1 {
    background-color: var(--bg-features-1);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-1::before {
    content: url("../images/consultancy.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-2 {
    background-color: var(--bg-features-2);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-2::before {
    content: url("../images/solutions.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-3 {
    background-color: var(--bg-features-3);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-3::before {
    content: url("../images/simple.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-4 {
    background-color: var(--bg-features-4);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-4::before {
    content: url("../images/deadline.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-5 {
    background-color: var(--bg-features-5);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-5::before {
    content: url("../images/data.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-6 {
    background-color: var(--bg-features-6);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-6::before {
    content: url("../images/flexible.png");
    position: absolute;
    display: block;
    margin-top: -70px;
}

/* 7 Pricing */

.pricing_wrapper {
    padding: 100px 0 0;
}

.pricing_wrapper .pricing_subtitle {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.pricing_wrapper .pricing_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.pricing_wrapper .pricing_card {
    background-color: var(--bg-white);
    box-shadow: 0 1px 20px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 40px 45px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.pricing_wrapper .pricing_card:hover {
    box-shadow: 0 2px 29px rgb(0 0 0 / 20%);
    z-index: 5;
    cursor: pointer;
}

.pricing_wrapper .pricing_period {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 0;
    color: var(--text-light-2);
}

.pricing_wrapper .pricing_card img {
    max-width: 75%;
}

.pricing_wrapper .pricing_rate {
    font-family: var(--secondary-font);
    font-size: 34px;
    font-weight: var(--bold-font-weight);
    line-height: 1.25;
    columns: var(--text-black);
}

.pricing_wrapper .pricing_text {
    font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: 600;
    columns: var(--text-black);
    margin: 0;
}

.pricing_wrapper .pricing_all_plan {
    text-align: center;
    width: 100%;
    display: flex;
    margin: 15px 0;
}

.pricing_wrapper .pricing_all_plan ul {
   width: 100%;
   list-style: none;
   padding-inline-start: 0;
}

.pricing_wrapper .pricing_all_plan ul li {
    font-size: 14px;
    color: var(--text-dark-gray);
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    margin-top: 5px;
}

.pricing_wrapper .pricing_all_plan ul li s {
 color: var(--text-light-4);
}

.pricing_wrapper .learn-more-btn {
    background-color: var(--bg-dark-green);
    border-color: var(--bg-dark-green);
}

.pricing_wrapper .pricing_ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.pricing_wrapper .pricing_ribbon span {
    font-family: var(--secondary-font);
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    background-color: var(--bg-black);
    color:var(--text-white);
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-transform: uppercase;
    text-align: center;
    right: -45px;
    top: 30px;
    transform: rotate(-45deg);
}

.pricing_wrapper .featured {
    box-shadow: 0 2px 40px rgb(0 0 0 / 5%);
    background-color: var(--bg-white);
    border: 5px solid var(--text-black);
    padding-top: 80px;
    padding-bottom: 80px;
}


.pricing_wrapper .btn-featured {
    background-color: var(--bg-black);
    border-color: var(--bg-black);
}

.pricing_wrapper .featured .pricing_rate {
    font-size: 40px;
}

.free_trial {
    background-color: var(--bg-light-2);
    padding: 80px 0;
}

.free_trial .free_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 0;
    color: var(--text-black);
}

.free_trial .learn-more-btn {
    background-color: var(--bg-black);
    border-color: var(--bg-black);
}

.free_trial .learn-more-btn .fa {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: bottom;
    color: var(--text-yellow);
}

/* 8 Testimonials */

.testimonials_wrapper {
    padding: 100px 0 0;
}

.testimonials_wrapper .testimonilas_subtitle {
    font-size: 22px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.testimonials_wrapper .testimonials_title {
    font-family: var(--secondary-font);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 80px;
    color: var(--text-black);
}

.testimonials_wrapper .testimonials_card {
    border-radius: 15px;
    padding: 50px;
    background-color: var(--bg-white);
    box-shadow: 0 5px 40px rgba(0 0 0 / 15% );
}

.testimonials_wrapper .testimonials_card h3 {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: var(--bold-font-weight);
    line-height: 1.25;
    margin-bottom: 5px;
    color: var(--text-black);
}

.testimonials_wrapper .testimonials_card .testimonials_role {
    font-size: 19px;
    font-weight: var(--bold-font-weight);
    line-height: 1;
    margin-bottom: 25px;
    color: var(--bg-dark-green);
}

.testimonials_wrapper .testimonials_card .testimonilas_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}

/* 9 Brands */

.brand_wrapper {
    padding: 100px 0;
    background-color: var(--bg-light-2);
}

.brand_wrapper .brand_subtitle {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.brand_wrapper .brand_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.brand_wrapper .showcase_card img {
    width: 100%;
    border-radius: 15px;
    padding: 45px 25px;
    background-color: var(--bg-white);
    box-shadow: 0 5px 40px rgba(0 0 0 / 8%);
    transition: .7s;
}

.brand_wrapper .showcase_card img:hover {
    transform: scale(1.2);
    position: relative;
    z-index: 2;
}

/* 10 FAQs */

.faqs_wrapper {
    padding: 100px 0 0;
}

.faqs_wrapper .faqs_subtitle {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.faqs_wrapper .faqs_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}
 
.faqs_wrapper .accordion-item {
    border: 0;
}

.faqs_wrapper .accordion-button {
    font-family: var(--secondary-font);
    font-size: 21px;
    font-weight: 600;
    color: var(--text-black);
    background-color: var(--bg-white);
    border-radius: 0;
    padding: 0 0 15px 0;
    border-bottom: 0px solid var(--text-light-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.faqs_wrapper .accordion-button:hover,
.faqs_wrapper .accordion-button:focus {
    box-shadow: none;
    color: var(--text-dark-green);
} 
   
.faqs_wrapper .accordion-button::after {
    content:'\002B';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: inline-block;
    background-image: none;
}

.faqs_wrapper .accordion-button:not(.collapsed)::after {
    content:"\2212";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: inline-block;
    background-image: none;
    transform:unset;
}

.faqs_wrapper .accordion-body {
    color: var(--text-black);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 25px;
    line-height: 1.5;
}

/* 11 Footer */

